

#faq, #activities, #team, #about {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#activities, #faq{
  background: rgb(247, 247, 247);
}

.top_margin{
  margin-top: 40px;
}

.side_margin{
  margin-left: 10px;
  margin-right: 10px;
}

.bkg_orange{
  background: #e65100 !important;
}

.bkg_amber{
  background: #ff8f00 !important;
}

.text_orange{
  color: #e65100;
}

.card-content a {
  color: #2196F3;
}

.card-content a:hover {
  color: #2196F3;
}

.card-avatar .waves-effect {
    text-align: center;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    margin-top: 20px;
}

.card-avatar .card-content {
    text-align: center;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.icon-big{
  font-size: 2.5rem;
}

.promo i {
    color: #ffffff;
    font-size: 7rem;
    display: block;
}

.page-footer {
    margin-top: 0px !important;
}
