body {
    font-family: "LatoWeb" !important;
    font-style: normal !important;
}

#faq, #activities, #team, #about {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: rgb(247, 247, 247);
}

#team{
    background: rgb(255, 255, 255) !important;
}

#team .square{
  background: rgb(247, 247, 247) !important;
}

#about{
  background: #ff9100;
}

.top_margin{
  margin-top: 40px !important;
}

.bottom_margin{
  margin-bottom: 80px !important;
}

.side_margin{
  margin-left: 10px;
  margin-right: 10px;
}

.text_orange{
  color: #e65100;
}

.card-content a {
  color: #2196F3;
}

.card-content a:hover {
  color: #2196F3;
}

.card-avatar .waves-effect {
    text-align: center;
}

.card-avatar img {
    border-radius: 75px ;
    margin-top: 20px ;
    display: inline !important;
}

.card-avatar .card-content {
    text-align: center;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-title {
    line-height: 100% !important;
    font-size: 18px !important;
}

.icon-big{
  font-size: 2.5rem;
}

.side-nav{
  background: #ff5722 !important;
}

.promo i {
    color: #ffffff;
    font-size: 7rem;
    display: block;
}

.justify{
  text-align: justify !important;
}

.page-footer {
    margin-top: 0px !important;
    font-family: "LatoWebLight" !important;
}

nav ul a {
    font-size: 1.2rem !important;
    color: #FFF !important;
    letter-spacing: 2px !important;
    display: block !important;
    font-weight: 900 !important;
    padding: 0px 15px !important;
}

nav a.button-collapse {
    left: -25px;
}

.brand-logo{
    margin-top: 15px !important;
    position: absolute;
    display: inline-block;
    width: 75px !important;
    height: 75px !important;
}

.font-hairline{
  font-family: "LatoWebHairline";
}

.font-thin{
  font-family: "LatoWebThin";
}

.font-light{
  font-family: "LatoWebLight";
}

.font-normal{
  font-family: "LatoWeb" !important;
}

.nav-mobile{
  margin-right: 150px !important;
}

.parallax-container{
  height: 500px !important;
}

.half-color{
  opacity: 0.75;
}



.card-avatar img {
    height: 150px;
    width: 150px;
}
