body {
    font-family: "LatoWeb" !important;
    font-style: normal !important;
}

#faq, #activities, #team, #about {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

 #activities, #team{
    background: rgb(247, 247, 247);
}

#about{
  background: rgba(255, 87, 34, 0.60);
}

.tabs{
  background: rgba(255, 87, 34, 0.00) !important;
}

.header-1{
  font-weight: 100;
  font-size: 40px;
  font-family: "LatoWebLight";
}

.iris {
    background-image: url("http://res.cloudinary.com/dkbuneg9h/image/upload/v1478452843/pet/background-img-3_ijh9li.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0) !important;
   box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0) !important;
}

.header-2{
  font-size: 25px;
  font-weight: 100;
  font-family: "LatoWebLight";
}

.big-logo{
  width: 150px !important;
  height: 150px !important;
}
/* rgba(255,87,34,0.75ment)*/
#about{
  background: rgba(255,87,34,0.75ment) !important;
}

.top_margin{
  margin-top: 40px !important;
}

.bottom_margin{
  margin-bottom: 80px !important;
}

.side_margin{
  margin-left: 10px;
  margin-right: 10px;
}

.text_orange{
  color: #e65100;
}

.card-content a {
  color: #2196F3;
}

.card-content a:hover {
  color: #2196F3;
}

.card-avatar .waves-effect {
    text-align: center;
}

.card-avatar img {
    border-radius: 75px ;
    margin-top: 20px ;
    display: inline !important;
}

.card-avatar .card-content {
    text-align: center;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-title {
    line-height: 100% !important;
    font-size: 18px !important;
}

.icon-big{
  font-size: 2.5rem;
}

.side-nav{
  background: #ff5722 !important;
}

.promo i {
    color: #ffffff;
    font-size: 7rem;
    display: block;
}

.justify{
  text-align: justify !important;
}

.page-footer {
    margin-top: 0px !important;
}

nav ul a {
    font-size: 1rem !important;
    color: #FFF !important;
    letter-spacing: 1px !important;
    display: block !important;
    padding: 5px 10px 0 10px !important;
}

nav a.button-collapse {
    left: -25px;
}

.logo{
  font-size: 25px !important;
  letter-spacing: 3px !important;
}

.brand-logo{
    margin-top: 15px !important;
    position: absolute;
    display: inline-block;
    width: 75px !important;
    height: 75px !important;
}

.font-hairline{
  font-family: "LatoWebHairline";
}

.font-thin{
  font-family: "LatoWebThin";
}

.font-light{
  font-family: "LatoWebLight";
}

.font-normal{
  font-family: "LatoWeb" !important;
}

.nav-mobile{
  margin-right: 150px !important;
}

.parallax-container{
  height: 500px !important;
}

.half-color{
  opacity: 0.50;
}

.card-avatar img {
    height: 150px;
    width: 150px;
}
